#IMAGES
devcfg.mbn
pmic.elf
pmic.elf
rpm.mbn
rpm.mbn
xbl.elf
xbl.elf
tz.mbn
tz.mbn
hyp.mbn
hyp.mbn
BTFM.bin
adspso.bin
mdtp.img
keymaster.mbn
keymaster.mbn
cmnlib.mbn
cmnlib.mbn
cmnlib64.mbn
cmnlib64.mbn
splash.img
emmc_appsboot.mbn
emmc_appsboot.mbn
boot.img
NON-HLOS.bin
cache.img
userdata.img
recovery.img
system.img

#PARTITIONS
devcfg
pmic
pmicbak
rpm
rpmbak
xbl
xblbak
tz
tzbak
hyp
hypbak
bluetooth
dsp
mdtp
keymaster
keymasterbak
cmnlib
cmnlibbak
cmnlib64
cmnlib64bak
splash
aboot
abootbak
boot
modem
cache
userdata
recovery
system

